<h1><%= indiv.given + ' ' + indiv.family %><%= (everyauth.loggedIn && user.login == indiv.login ? " (You)" : "")%></h1>
<% if (indiv.picture) {%>
<p style='float:right'><img src="<%= indiv.picture %>" alt="Picture of <%= indiv.given + ' ' + indiv.family %>"></p>
<% } %>
<dl>
<dt>Email</dt>
<dd><a href='mailto:<%=indiv.email %>'><%= indiv.email %></a></dd>
<dt>Affiliation</dt>
<dd><% if (indiv.affiliation) { %><a href='/orgs/<%= indiv.affiliation.slug%>'><%= indiv.affiliation.name %></a><% } else {%>Unknown<%}%></dd>
<% if (indiv.twitterAccount && indiv.twitterAccount.name) {%>
<dt>Twitter account</dt>
<dd><a href="http://twitter.com/<%= indiv.twitterAccount.name %>">@<%= indiv.twitterAccount.name %></a></dd>
<%}%>
<dt>Latest check-in</dt>
<dd><% if (indiv.lastKnownPosition && indiv.lastKnownPosition.shortname) { %>
<a href="/locations/<%= indiv.lastKnownPosition.shortname %>"><%= indiv.lastKnownPosition.name %></a> at <%= indiv.lastKnownPosition.time %>
<% } else {%>Unknown<% } %></dd>
</dl>
<%- messages()%>
<% if (everyauth.loggedIn && user.login == indiv.login && !(indiv.twitterAccount && indiv.twitterAccount.name)) {%>
<h2>Update profile</h2>
<form action='' method='post'>
<p><label>Twitter account: <input type="text" name="twitter"></label></p>
<p><input type="submit" name="updateProfile"></p>
</form>
<%}%>