<h1><%= indiv.given + ' ' + indiv.family %><%= (everyauth.loggedIn && user.login == indiv.login ? " (You)" : "")%></h1>

<% if (indiv.picture) {%>
<p style='float:right'><img src="<%= indiv.picture %>" alt="Picture of <%= indiv.given + ' ' + indiv.family %>"></p>
<% } %>

<dl class="dl-horizontal">
	<% if (everyauth.loggedIn) {%>
	<dt>Email</dt>
	<dd><a href='mailto:<%=indiv.email %>'><%= indiv.email %></a></dd>
	<% } %>
	
	<dt>Affiliation</dt>
	<dd><% if (indiv.affiliation) { %><a href='<%= baseurl %>/orgs/<%= indiv.affiliation.slug%>'><%= indiv.affiliation.name %></a><% } else {%>Unknown<%}%></dd>
	
	<% if (indiv.twitterAccount && indiv.twitterAccount.name) {%>
	<dt>Twitter account</dt>
	<dd><a href="http://twitter.com/<%= indiv.twitterAccount.name %>">@<%= indiv.twitterAccount.name %></a></dd>
	<%}%>
	
	<dt>Latest check-in</dt>
	<dd>
		<% if (indiv.lastKnownPosition && indiv.lastKnownPosition.shortname) { %>
		<a href="<%= baseurl %>/locations/<%= indiv.lastKnownPosition.shortname %>"><%= indiv.lastKnownPosition.name %></a> <span class="label label-warning"><%= elapsedTime(indiv.lastKnownPosition.time) %></span>
		<% } else {%>Unknown<% } %>
	</dd>
</dl>

<%- messages()%>

<% if (everyauth.loggedIn && user.login == indiv.login && !(indiv.twitterAccount && indiv.twitterAccount.name)) {%>
<h2>Update profile</h2>
<form class="form-inline" action='' method='post'>
	<div class="input-prepend">
		<span class="add-on">@</span><input class="input-medium" name="twitter" id="twitter" size="16" type="text" placeholder="Twitter account">
	</div>
	<button type="submit" name="updateProfile" class="btn btn-success">Update</button>
</form>
<%}%>

<h2>Schedule <% if (everyauth.loggedIn && user.login == indiv.login) { %><a href="<%= baseurl %>/people/profile/<%= user.slug %>.ics"><img src="http://www.w3.org/2008/site/images/icons/cal.gif" alt="icalendar feed"></a><% } %></h2>
<p>Events that <%= indiv.given %> is interested in:</p>
<dl>
<%- partial("schedule/full-schedule.ejs", {days: days, timeslots: timeslots, schedule:schedule, expanded: true, interestMarker: false}) %>
</dl>
<% if (statusupdates.length) { %>

<h2>Recent activity</h2>
<ul class="activities">
<% for (var s=0; s<statusupdates.length; s++) { %>
	<li> 
		<span class="label"><%= elapsedTime(statusupdates[s].time) %></span>
		<% if (statusupdates[s].contentHTML) { %>
		<%- statusupdates[s].contentHTML %>
		<% } else { %>
		<%= statusupdates[s].content %>
		<% } %>
	</li>
<% } %>
</ul>

<% } %>