<% if (!everyauth.loggedIn) {%>
<p class="text-info">To share your whereabouts with other TPAC participants, please <a href="login">log in</a>, update your <a href="schedule/">schedule</a> for the week, and advertize your tweets (by setting your Twitter account in your profile).</p>
<% } else if (user && !(user.twitterAccount && user.twitterAccount.name)) { %>
<p class="text-info">Do you have a <strong>Twitter account</strong>? <a href="people/profile/<%= user.slug %>">Update your profile</a> to share your tweets as part of your activity stream!</p>
<% } %>
<% if (typeof statusupdates != "undefined" && statusupdates && statusupdates.length > 0) { %>
<h1>Recent Activity</h1>
<ul id="messages" class="mainList">
<% for (var s = 0; s < statusupdates.length; s++) { %>
<li>
	<a href="<%= baseurl %>/people/profile/<%= statusupdates[s].author.slug %>">
		<img src="<% if (statusupdates[s].author.picture_thumb) { %><%=statusupdates[s].author.picture_thumb%><% } else { %><%= baseurl %>/img/default-pic.png<% } %>" width='36' alt="Picture of <%= statusupdates[s].author.given + " " + statusupdates[s].author.family %>">
	</a>
	<span>
		<a href="<%= baseurl %>/people/profile/<%= statusupdates[s].author.slug %>">
			<%= statusupdates[s].author.given + " " + statusupdates[s].author.family %>
		</a>
		<% if (statusupdates[s].contentHTML) { %>
		<%- statusupdates[s].contentHTML %>
		<% } else { %>
		<%= statusupdates[s].content %>
		<% } %>
		<span class="label label-warning"><%= elapsedTime(statusupdates[s].time) %></span>
	</span>
</li>
<% } %>
</ul>
<% } %>