<h1>TPAC Web App</h1>
<ul>
<li><a href="people/">Registrants</a></li>
<li><a href="locations/">Activity in the rooms</a></li>
<li><a href="schedule/">Schedule</a></li>
<li><a href="orgs/">List of represented organizations</a></li>
</ul>
<% if (typeof statusupdates != "undefined" && statusupdates && statusupdates.length > 0) { %>
<h2>Recent Activity</h2>
<div id="messages">
<% for (var s = 0; s < statusupdates.length; s++) { %>
<% var elapsedTime = Date.now() - statusupdates[s].time ; %>
<% var nowString = (elapsedTime > 24*3600*1000 ? Math.floor(elapsedTime / (24*3600*1000)).toString() + ' days ago' :  (elapsedTime > 3600*1000 ? Math.floor(elapsedTime / (3600*1000)).toString() + ' hours ago' : Math.floor(elapsedTime / (60*1000)).toString() + ' minutes ago')); %>

<p class="info"><a href="<%= baseurl %>/people/profile/<%= statusupdates[s].author.slug %>"><% if (statusupdates[s].author.picture_thumb) { %><img src="<%= statusupdates[s].author.picture_thumb %>" alt="<%= statusupdates[s].author.given + " " + statusupdates[s].author.family %>’s picture" width="36"> <% } %><%= statusupdates[s].author.given + " " + statusupdates[s].author.family %></a> <%= nowString %>: <%= statusupdates[s].content %> </p>
<% } %>
</div>
<% } %>