<!DOCTYPE html>
<html>
<head>
	<title><%= (typeof title != "undefined" && title ? title + " @ " : "") %>TPAC 2012 — W3Connect</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0;">
	<link href="<%= baseurl %>/css/bootstrap.css" rel="stylesheet" />
	<link href="<%= baseurl %>/css/style_.css" rel="stylesheet" />
	<link href="<%= baseurl %>/css/bootstrap-responsive.css" rel="stylesheet" />
	<script type="text/javascript" src="<%= baseurl %>/js/script.js"></script>
</head>
<body>
	<%- partial('nav-bar.ejs') %>
	<div class ="container">
		<%- body %>
	</div>
	<footer class="blue-grad">
	<div class="container">
		<p><a href='<%= baseurl %>/about'>About this Web app</a> — Copyright &copy 2012 W3C (ERCIM, Keio, MIT)</p>
	</div>
	</footer>

	<script src="<%= baseurl %>/js/libs/jquery-1.7.2.js"></script>
	<script src="<%= baseurl %>/js/libs/jquery.form.js"></script>
	<script src="<%= baseurl %>/js/mylibs/forms.js"></script>
	<script src="<%= baseurl %>/js/libs/bootstrap.js"></script>
	<% if (typeof script !="undefined" && script) { %>
	<script src="<%= baseurl %><%= script %>"></script>
	<% } %>
</body>
</html>
