<!DOCTYPE html>
<html>
        <head>
                <title><%= (typeof title != "undefined" && title ? title + " @ " : "") %>TPAC 2011 — W3Connect</title>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-
8" />
                <meta name="viewport" content="width=device-width, minimum-scale
=1.0, maximum-scale=1.0;">
                 <link href="<%= baseurl %>/css/style.css" rel="stylesheet" />
        <script type="text/javascript" src="<%= baseurl %>/js/script.js"></script>
</head><body>
        <div id="wrap">
        <div id="content">
	  <%- partial('nav-bar.ejs') %>
<%- body %>
<p><% if (user) {%>Logged in as <a href='<%= baseurl %>/people/profile/<%= user.slug %>'><%=user.login%></a>. <a href="<%= baseurl %>/logout">Log out</a>?<%} else { %>Not logged in. <a href="<%= baseurl %>/login">Log in</a><%}%></p>
	  <%- partial('nav-bar.ejs') %>
        </div>
                <footer class="group">
		  <p>Based on work done as part of one of W3C Staff “Geek Week” projects (<a href='<%= baseurl %>/about'>more</a>)</p>
                  <p>Copyright &copy 2011 W3C (MIT, ERCIM, Keio)</p>
		  <p><a href="http://www.developer.nokia.com/info/sw.nokia.com/id/ba4e3f4d-3c65-4bcf-997b-406ff08207f9/Mobile_Web_Templates_for_Smartphones.html">Mobile Web Template by Nokia</a></p>
                </footer>
        </div>

  <script src="<%= baseurl %>/js/libs/jquery-1.5.1.min.js"></script>
  <script src="<%= baseurl %>/js/libs/jquery.form.js"></script>
  <script src="<%= baseurl %>/js/mylibs/forms.js"></script>
<% if (typeof script !="undefined" && script) { %>
<script src="<%= baseurl %><%= script %>"></script>
<% } %>
</body>
</html>
