<h1>Login</h1>

<% if ('undefined' !== typeof errors && errors.length) {%>
<ul id='error'>
<% for (e in errors) {%>
<li class="error"><%= errors[e]%></li>
<%}%>
</ul>
<%}%>
<% if (everyauth.loggedIn) {%>
Logged in as <%=JSON.stringify(everyauth)%>
<% } else {%>
<form action='/2011/11/TPAC/live/login' method='post'>
<p>Please use your W3C account to log in:</p>
<p id='login'>
<label for='<%=everyauth.password.loginFormFieldName%>'>Login
<input type="text" name="<%=everyauth.password.loginFormFieldName%>"></label>
</p>
<p id='password'>
<label for='<%=everyauth.password.passwordFormFieldName%>'>Password
<input type="password" name="<%=everyauth.password.passwordFormFieldName%>"></label>
</p>
<p id='submit'>
<input type='submit' value='Login'>
</p>
</form>
<%}%>