<% if ((link == baseurl + "/" && url == link) || (link != baseurl + "/" && url.match("^"+link) == link)) { %>
<li class="active <%= (typeof className != "undefined" ? className : "") %>"><a href="<%= link %>"><%= text %>
<% } else { %>
<li class="<%= (typeof className != "undefined" ? className : "") %>"><a href="<%= link %>"><%= text %>
<%} %>
</a></li>