<div class="navbar navbar-fixed-top">
	<div class="navbar-inner blue-grad">
		<div class="container">
			<!--<a class="brand" href="#">TPAC Web App</a>-->
			<ul class="nav">
				<%- partial("nav-link.ejs", {url: url, link: baseurl + "/", text: "Home"}) %>
				<%- partial("nav-link.ejs", {url: url, link: baseurl + '/people/', text: 'People'}) %>
				<%- partial("nav-link.ejs", {url: url, link: baseurl + '/schedule/', text: "Schedule"}) %>
				<%- partial("nav-link.ejs", {url: url, link: baseurl + '/locations/', text: "Rooms"}) %>
				
				<!--<% var active = (url.match("^"+baseurl+'/locations/') == baseurl+'/locations/') ? "active" : ""; %>-->
				<li class="dropdown <%= active %>">
					<a class="dropdown-toggle" data-toggle="dropdown" href="<%= baseurl+'/locations/ %>">Rooms<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<% for (var p in places) { %>
						<% var className = (typeof userCheckin != "undefined" && userCheckin == places[p].shortname ? " youarehere" : ""); %>
						<li>
							<a <% if (typeof place=="undefined" || place.shortname != places[p].shortname ) { %> href='<%= baseurl %>/locations/<%= places[p].shortname %>' class='<% } else { %> class='self <% } %><%= className %>'>
								<%= places[p].name %> <%= (places[p].checkedin.length ? "(" + places[p].checkedin.length + " checked in)" : "")%>
							</a>
						</li>
						<% } %>
					</ul>
				</li>
				
				<%- partial("nav-link.ejs", {url: url, link: baseurl + '/orgs/', text: "Orgs"}) %>
			</ul>
			<p class="navbar-text pull-right"><% if (user) {%>Logged in as <a href='<%= baseurl %>/people/profile/<%= user.slug %>'><%=user.login%></a>. <a href="<%= baseurl %>/logout">Log out</a><%} else { %>Not logged in. <a href="<%= baseurl %>/login?redirectTo=<%= url %>">Log in</a><%}%></p>
		</div>
	</div>
</div>
