<% if ((url == baseurl && url == link) || (url != baseurl && url.match("^"+link) == link)) { %>
<li class="active <%= (typeof className != "undefined" ? className : "") %>"><a><%= text %>
<% } else { %>
<li class="<%= (typeof className != "undefined" ? className : "") %>"><a href="<%= link %>"><%= text %>
<%} %>
</a></li>