<% if (link == url) { %>
<li class="active <%= (typeof className != "undefined" ? className : "") %>"><a><%= text %>
<% } else { %>
<li class="<%= (typeof className != "undefined" ? className : "") %>"><a href="<%= link %>"><%= text %>
<%} %>
</a></li>