                <nav class="horizontal">
		  <ul class="five-piece">
		        <%- partial("nav-link.ejs", {url: url, link: baseurl + "/", text: "Home", class: "first"}) %>
			<%- partial("nav-link.ejs", {url: url, link: baseurl + '/people', text: 'People'}) %>
			<%- partial("nav-link.ejs", {url: url, link: baseurl + '/schedule', text: "Schedule"}) %>
			<%- partial("nav-link.ejs", {url: url, link: baseurl + '/locations', text: "Rooms"}) %>
			<%- partial("nav-link.ejs", {url: url, link: baseurl + '/orgs', text: "Orgs"}) %>
		  </ul>
                </nav>
