<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!--<a class="brand" href="#">TPAC Web App</a>-->
			<ul class="nav">
				<%- partial("nav-link.ejs", {url: url, link: baseurl + "/", text: "Home"}) %>
				<%- partial("nav-link.ejs", {url: url, link: baseurl + '/people/', text: 'People'}) %>
				<%- partial("nav-link.ejs", {url: url, link: baseurl + '/schedule/', text: "Schedule"}) %>
				<%- partial("nav-link.ejs", {url: url, link: baseurl + '/locations/', text: "Rooms"}) %>
				<%- partial("nav-link.ejs", {url: url, link: baseurl + '/orgs/', text: "Orgs"}) %>
			</ul>
			<p class="navbar-text"><% if (user) {%>Logged in as <a href='<%= baseurl %>/people/profile/<%= user.slug %>'><%=user.login%></a>. <a href="<%= baseurl %>/logout">Log out</a>?<%} else { %>Not logged in. <a href="<%= baseurl %>/login?redirectTo=<%= url %>">Log in</a><%}%></p>
		</div>
	</div>
</div>
