<h1><%= place.name %></h1>
<h2>Check in</h2>
<%- messages()%>
<% if (everyauth.loggedIn) {%>
<% if (user.lastKnownPosition.shortname != place.shortname) { %>
<form class='client' action="" method="post">
<input  type="submit" name="checkin" value="Check in at <%= place.name %>">
</form>
<% } else { %>
<p>You are already checked in at <%= place.name %>.</p>
<%}
} else {%>
<p><a href='<%= baseurl %>/login'>Log in</a> to check in at <%= place.name %>.</p>
<%}%>
<p><object style="width:100%;min-height:180px; min-width:307px; max-width:725px;" type="image/svg+xml" data="<%= baseurl %>/maps/main.svg#<%= place.shortname %><% if (everyauth.loggedIn  && user.lastKnownPosition) {%><%= "," + user.lastKnownPosition.shortname%><% }%>">
<img style="max-width:100%" src="<%= baseurl %>/maps/<%= place.shortname%>.png" alt="Floor plan with highlight on <%= place.name %>">
</object></p>
<h2>People whose last checkin was in <%= place.name %></h2>
<%- partial('people/list.ejs') %>
<script>
if (window.EventSource) {
	  var evtSrc = new EventSource( "<%= baseurl %>/locations/stream" );
	  evtSrc.onmessage = function( e ) {
	    var data = JSON.parse(e.data);
	    if (data.entered.shortname == '<%= place.shortname %>') {
	       var img = $("<img>").attr("src", data.user.picture_thumb).attr("alt", "Picture of " + data.user.given + " " + data.user.family);
	       var a = $("<a></a>").attr("href", "/people/" + data.user.slug).text(data.user.given + " " + data.user.family).prepend(img);
	       var li = $("<li></li>");
	       li.append(a);
	       $(".peopleList").eq(0).append(li);
	    } else if (data.left.shortname == '<%= place.shortname %>') {
	       $("a[href='/people/" + data.user.slug + "']",$(".peopleList").eq(0)).parent().remove();
	    }
}
}


</script>