<h1>Taxi pooling request from the airport</h1>
<%- messages() %>
<% if (everyauth.loggedIn) {%>

<!-- @@@ only if no request given yet -->
<form action='' method='post'>
<p><label>Airport: <select name='airport' required><option>San Jose</option><option>San Francisco</option><option>Oakland</option></select></label></p>
<fieldset><legend>Flight information</legend>
<p><label>Airline code: <input value="" size="2" type='text' name='airline' pattern='[a-zA-Z]*'></label>
<label>Flight number: <input size="4" type='text' name='code' pattern='[0-9]*'></label><br>
<label>Terminal of arrival: <input required size="2" type='text' name='terminal'></label><br>
<label>Date and time of arrival (local time): <input required type='datetime-local' name='arrival' placeholder='YYYY-MM-DDTHH:MM:ss'></label></p></fieldset>
</fieldset>
<input type="submit" name="request" value="File a request">
</form>
<% } else {%>
<p><a href='/login'>Log in</a> to file a request for sharing a taxi.</p>
<%}%>

<h2>Current requests</h2>
<% if (taxi && taxi.length) { %>
<ul>
<% for (i in taxi) {%>
<li><a href="/people/<%= taxi[i].requester.slug %>"><% if (taxi[i].requester.picture_thumb) {%><img src='<%= taxi[i].requester.picture_thumb%>' alt="Picture of <%= taxi[i].requester.given + ' ' + taxi[i].requester.family%>"><%}%><%= taxi[i].requester.given + ' ' + taxi[i].requester.family%></a> arrives in <%= taxi[i].flight.airport %> airport, terminal <%= taxi[i].flight.terminal %>, flight <% if (taxi[i].flight.airline && taxi[i].flight.code) { %><%= taxi[i].flight.airline + ' ' + taxi[i].flight.code %><%}%> arriving at <%= taxi[i].flight.eta %> </li>
<% } %>
</ul>
<% } else {%>
<p>No request yet.</p>
<%}%>
