<h1><%= event.name %></h1>
<dl>
<!--<dt>Time</dt>
<dd>    <% var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; %><%= days[event.timeStart.getDay()] %>

    <span class="timeslot"><%- partial("schedule/timeslot.ejs", {timeStart: event.timeStart, timeEnd: event.timeEnd}) %></span>
</dd>-->
<% if (event.proposedBy) { %>
<dt>Proposed By</dt>
<dd><%= event.proposedBy.given + " " + event.proposedBy.family %></dd>
<% } %>
<% if (event.presenter) { %>
<dt>Presenter</dt>
<dd><%= event.presenter %></dd>
<% } %>
<% if (event.room) { %>
<dt>Room</dt>
<dd><a href="/locations/<%= event.room.shortname %>"><%= event.room.name %></a></dd><% } %>
<% if (event.description) { %>
<dt>Description</dt>
<dd><%= event.description %></dd>
<% } %>
<dt>Interested to attend</dt>
<dd><%- partial('people/list.ejs') %></dd>
</dl>