<% if (user && typeof interestMarker != "undefined" && interestMarker) { %>
<% var isInterested = new RegExp("^"  + event.interested.join("|") + "$"); %>
<a class="interest" href="<%= baseurl %>/schedule/events/<%= event.slug %>/" title="Toggle interest on talk"><img style='vertical-align: middle' src="<%= baseurl %>/img/star<%= ( isInterested.test(user._id) ?  "" : "-off" ) %>.png" alt="Not marked as interested"></a>
<% } %>
<% if (typeof showTime != "undefined" && showTime) { %>
<% var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; %>
<%= days[event.timeStart.getDay()] %> <%- partial("schedule/timeslot.ejs", {timeStart: event.timeStart, timeEnd: event.timeEnd}) %>
<% } %>
<% if (event.room && event.room.shortname) { %>
<a href="<%= baseurl %>/locations/<%= event.room.shortname %>"><%= event.room.name %></a>: 
<% } %> 
<% if (typeof admin != "undefined" && admin) { %>
<a href="<%= baseurl %>/schedule/events/<%= event.slug %>/admin">
<% } %>
<strong><%= event.name %></strong>
<% if (typeof admin != "undefined" && admin) { %>
</a>
<% } %>
<% if (event.presenters) { %>
, by <%= event.presenters %>
<% } %>
<% if (event.eventType == 'adhoc') { %>
(ad-hoc meeting<%= (event.proposedBy ? "proposed by <a href='" baseurl + "/people/profile/" + event.proposedBy.slug + "'>" + event.proposedBy.name + "</a>" : "")%>)
<% } %>
<% if (event.confidentiality && event.confidentiality == 'member') { %>
 — W3C Member-only
<% } %>
<% if (event.observers && event.observers == 'no') { %>
, no observers allowed
<% } %>
<em class="interested" data-eventid="<%= event.slug %>"><% if (event.interested.length) { %>
 (<span class="counter"><%= event.interested.length %></span> interested to attend)
<% } %></em>