<h1><%= event.name %></h1>
<dl>
<% if (event.proposedBy) { %>
<dt>Proposed By</dt>
<dd><%= event.proposedBy.given + " " + event.proposedBy.family %></dd>
<% } %>
<dt>Presenters</dt>
<dd><%= event.presenter %></dd>
<% if (event.room) { %>
<dt>Room</dt>
<dd><a href="/locations/<%= event.room.shortname %>"><%= event.room.name %></a></dd><% } %>
<% if (event.description) { %>
<dt>Description</dt>
<dd><%= event.description %></dd>
<% } %>
<dt>Interested to attend</dt>
<dd><%- partial('people/list.ejs') %></dd>
</dl>