<script type="text/javascript">
function init() {
  var myAccordionList = new AccordionList("accordion");
}
addEvent("onload",init);
</script>
<h1>Schedule</h1>
<dl id="accordion" class="list-accordion">
<% if (currentEvents.length) {%>
<dt class="expanded"><span></span><strong>Currently</strong></dt>
<%- partial('schedule/event-list.ejs', {eventList: currentEvents}) %>
<% } %>
<% if (nextEvents.length) {%>
<dt class="expanded"><span></span><strong>Next</strong></dt>
<%- partial('schedule/event-list.ejs', {eventList: nextEvents}) %>
<% } %>
<dt id="mySchedule" class="expanded"><span></span><strong>My schedule</strong></dt>
<% if (user) { %>
<dd class="placeholder">Star talks below to have them appear in your schedule</dd>
<% if (myEvents.length) {%>
<%- partial('schedule/event-list.ejs', {eventList: myEvents, showTime: true, className: "mySchedule"}) %>
<% } %>
<% } else { %>
<dd class="placeholder"><a href="<%= baseurl %>/login">Log in to build your schedule</a></dd>
<% } %>
<% for (var d in days) { %>
<% var day = days[d];%>
<dt class="<%= (d == 0 && !currentEvents.length ? "expanded" : "collapsed") %>"><span></span><strong><%= day %></strong></dt>
<dd><dl>
<% for (var t in timeslots[day]) { %>
<% var timeslot = timeslots[day][t]; %>
<% var timeslotData = {timeStart: timeslot.timeStart, timeEnd: timeslot.timeEnd}; %>
<% if (schedule[day][JSON.stringify(timeslot)].length == 1) { %>
<dt><span></span><%- partial("schedule/timeslot.ejs", timeslotData) %>
— <%- partial('schedule/event-desc.ejs', {event: schedule[day][JSON.stringify(timeslot)][0], interestMarker: true}) %></dt>
<% } else { %>
<dt title="tap/click to expand list of events at <%- partial("schedule/timeslot.ejs", timeslotData) %>" class="<%= (d == 0 && t==0 && !currentEvents.length ? "expanded" : "collapsed") %>"><span></span><%- partial("schedule/timeslot.ejs", timeslotData) %></dt>
<% for (var e in schedule[day][JSON.stringify(timeslot)]) {%>
<% var event = schedule[day][JSON.stringify(timeslot)][e];%>
<dd>
<%- partial('schedule/event-desc.ejs', {event: event, interestMarker: true}) %>
</dd>
<% } %>
<% } %>
<% } %></dl></dd>
<% } %>
</dl>

