<h1>Schedule</h1>

<% if (!user) { %>
<p class="login"><a href="<%= baseurl %>/login?redirectTo=<%= url %>">Log in to build your schedule</a></p>
<% } %>

<% if (currentEvents.length) {%>
<h2>Currently</h2>
    <%- partial('schedule/event-list.ejs', {eventList: currentEvents}) %>
<% } %>

<% if (nextEvents.length) {%>
<h2>Next</h2>
    <%- partial('schedule/event-list.ejs', {eventList: nextEvents}) %>
<% } %>

<% if (user) { %>
<h2>My schedule <a href="<%= baseurl %>/people/profile/<%= user.slug %>.ics"><img src="http://www.w3.org/2008/site/images/icons/cal.gif" alt="icalendar feed"></a></h2>
    <p class="add-event"><a href="<%= baseurl %>/schedule/add" class="btn btn-success">Add an ad-hoc event</a></p>
    <p>Star meetings below to have them appear in your schedule</p>
    <%- partial('schedule/event-list.ejs', {eventList: myEvents, className: "mySchedule"}) %>
<% } %>

<% var expanded = false; /*!currentEvents.length;*/ %>
<% var interestMarker = true; %>
<%- partial('schedule/full-schedule.ejs', {days: days, timeslots: timeslots, schedule:schedule, expanded: expanded, interestMarker: interestMarker}) %>

