<script type="text/javascript">
function init() {
  var myAccordionList = new AccordionList("accordion");
}
addEvent("onload",init);
</script>
<h1>Schedule</h1>
<dl id="accordion" class="list-accordion">
<% if (currentEvents.length) {%>
<dt class="expanded"><span></span><strong>Currently</strong></dt>
<%- partial('schedule/event-list.ejs', {eventList: currentEvents}) %>
<% } %>
<% if (nextEvents.length) {%>
<dt class="expanded"><span></span><strong>Next</strong></dt>
<%- partial('schedule/event-list.ejs', {eventList: nextEvents}) %>
<% } %>
<dt id="mySchedule" class="expanded"><span></span><strong>My schedule</strong></dt>
<% if (user) { %>
<dd class="placeholder">Star talks below to have them appear in your schedule</dd>
<% if (myEvents.length) {%>
<%- partial('schedule/event-list.ejs', {eventList: myEvents, showTime: true, className: "mySchedule"}) %>
<% } %>
<% } else { %>
<dd class="placeholder"><a href="<%= baseurl %>/login">Log in to build your schedule</a></dd>
<% } %>
<% var expanded = !currentEvents.length; %>
<%- partial('schedule/full-schedule.ejs', {days: days, timeslots: timeslots, schedule:schedule, expanded: expanded}) %>
</dl>